.backgroud-movie {
  border-bottom: 3px solid #241d1e;
  margin: 80px 0;
}


.ant-tabs-nav-list {
  // border: 1px solid #e0e0e0;
  border-radius: 30px;
}

.ant-tabs {
  width: 100%;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3), 0 0 50px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 30px;
}

.border-list {
  // border: 1px solid #e0e0e0;
  padding: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.date {
  text-decoration: none;
  color: #0077b5;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  &:hover {
    background-color: #ff6f61;
    /* Màu nền khi hover */
    color: #ffffff;
    /* Màu văn bản khi hover */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    /* Đổ bóng khi hover */
    transform: scale(1.1);
    /* Hiệu ứng phóng to khi hover */
  }

  &::after {
    content: "\2192";
    /* Mã Unicode của mũi tên phải */
    margin-left: 2px;
    /* Khoảng cách giữa văn bản và biểu tượng */
  }

}


.address {
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.ant-tabs-tabpane {
  padding-left: 0px !important;
}

.rounded-circle {
  width: 40px;
}

.img-movie {
  width: 100px;
  border: 3px solid #262625;
}
