.backgroud-movie {
  border-bottom: 3px solid #241d1e;
  margin: 80px 0;
}


.ant-tabs-nav-list {
  // border: 1px solid #e0e0e0;
  border-radius: 30px;
}

.ant-tabs {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.border-list {
  // border: 1px solid #e0e0e0;
  padding: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.date {
  text-decoration: none;
  color: rgb(74, 77, 74);
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  &:hover {
    background-color: #ff6f61;
    color: #ffffff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }

  &::after {
    content: "\2192";
    margin-left: 2px;
  }

}


.address {
  width: 300px;
  font-weight: 500;
  color: #888;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.ant-tabs-tabpane {
  padding-left: 0px !important;
}

.rounded-circle {
  width: 40px;
}

.img-movie {
  width: 100px;
  border: 3px solid #262625;
}
