.btnList .btnStyle1 {
  color: #edbcd1;
  background-color: #00664e;
}
.btnList .btnStyle1:hover {
  color: #00664e;
  background-color: #edbcd1;
}

.btnList .btnStyle2 {
  color: #bf0200;
  background-color: #d9d9d9;
}
.btnList .btnStyle2:hover {
  background-color: #bf0200;
  color: #d9d9d9;
}
