.header-dark {
  background: linear-gradient(135deg, #b1b4b6, #262727);
  background-color: #151516;
  padding-bottom: 40px;
}

@media (min-width:768px) {
  .header-dark {
    padding-bottom: 89px;
  }
}

.header-dark .navbar {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
  .header-dark .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

.header-dark .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.header-dark .navbar .navbar-toggler {
  border-color: #747474;
}

.header-dark .navbar .navbar-toggler:hover,
.header-dark .navbar-toggler:focus {
  background: none;
}

.header-dark .navbar .navbar-toggler {
  color: #eee;
}

.header-dark .navbar .navbar-collapse,
.header-dark .navbar .form-inline {
  border-color: #636363;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color: #d9d9d9;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,
.header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color: #fcfeff !important;
  background-color: transparent;
}

.header-dark .navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background: url(../../../public/img/bg_menu_hover.png);
  border-radius: 2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus,
.header-dark .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus,
.header-dark .navbar .dropdown-menu .drodown-item:hover {
  background: transparent;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
  color: red !important;
}

.header-dark .navbar .action-button,
.header-dark .navbar .action-button:active {
  background: #208f8f;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem .8rem;
  transition: background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background: #269d9d;
}
// .carousel {
//   max-height: 650px; /* Điều chỉnh chiều cao tối đa của carousel */
//   overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt ra ngoài */
// }

// .carousel-inner {
//   display: flex;
//   flex-direction: column;
// }

// .carousel-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }
.header-dark .navbar .form-inline label {
  color: #ccc;
}

.header-dark .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-dark .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header-dark .hero {
  margin-top: 60px;
}
// css header Logout
// .navbar-light .navbar-nav .nav-link {
//   color: rgba(0,0,0,.5);
// }
.nav-img img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: -8px 0;
  margin-right: 10px;
}
.navbar-logout {
  .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background: url(../../../public/img/bg_menu_hover.png);
    border-radius: 2px;
    top: 110%;
    left: 12%;
  }
  .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
}

@media (min-width:768px) {
  .header-dark .hero {
    margin-top: 20px;
  }
}

.header-dark .hero h1 {
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media (min-width:768px) {
  .header-dark .hero h1 {
    margin-bottom: 50px;
    line-height: 1.5;
  }
}

.header-dark .hero .embed-responsive iframe {
  background-color: #666;
}

.button-group-header {
  .button_default {
    transition: 0.5s ease-in-out;
    color: #FFF;
    font-size: 16px;
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: none;
  }

  ;

  .btn_details {
    border: none;
    background-color: #208f8f;

    &:hover {
      box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #1abc9c;
    }
  }

  ;

  .btn_ticket {
    background-color: #dc2c29;
    border: none;

    &:hover {
      box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #dc2c29;
    }
  }
}
;
