.img-moive {
  max-width: 100px;
}

.pagination {
  justify-content: end !important;
}
.listAction .btnAction {
  color: #5738af;
}
.listAction .btnAction:hover {
  color: #cfd4fc;
}
.adminloading {
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
}
