.img-moive {
  max-width: 100px;
}

.pagination {
  justify-content: end !important;
}
.listAction .btnAction1 {
  color: blue;
  background-color: aqua;
  border: none;
}
.listAction .btnAction1:hover {
  color: black;
  border: 2px solid blueviolet;
}
.listAction .btnAction2 {
  background-color: white;
  color: red;
  border: none;
}
.listAction .btnAction2:hover {
  color: white;
  background-color: red;
}
.listAction .btnAction3 {
  color: green;
  background-color: aqua;
  border: none;
}
.listAction .btnAction3:hover {
  color: bisque;
  background-color: green;
  border: 2px solid black;
}
.adminloading {
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
}
